/** DARK THEME START **/
:root {
  --ion-color-primary: #f9ce03;
  --ion-color-primary-tint: #fbe167;
  --theme-font-family: 'Roboto', sans-serif;
  --color-primary-1: #f8c706;
  --color-primary-2: #fbdc5c;
  --color-primary-3: #4f451d;
  --color-secondary-1: #8b52af;
  --color-secondary-2: #b892ce;
  --color-secondary-3: #3b3340;
  --color-warning-1: #e11c13;
  --color-warning-2: #ed6d65;
  --color-warning-3: #4d2320;
  --color-success-1: #80bb41;
  --color-success-2: #b0d687;
  --color-success-3: #3a452c;
  --color-background-1: #1f1f1f;
  --color-background-2: #333333;
  --color-background-3: #1f1f1f;
  --color-background-4: #111111;
  --color-foreground-1: #dcdbdc;
  --color-foreground-2: #a0a0a0;
  --color-foreground-3: #7f7f7f;
  --color-grey-1: #2d2d2d;
  --color-grey-2: #323232;
  --color-grey-3: #4e4e4e;
  --color-button-text-1: #333333;
  --color-button-text-2: #ffffff;
  --color-disabled-1: #252525;
  --color-disabled-2: #424242;
  --color-shadow: #00000026;
  --menu-item-z-index: 10;
}
/** DARK THEME START **/

/** LIGHT THEME START **/
/* :root {
  --ion-color-primary: #f9ce03;
  --ion-color-primary-tint: #fbe167;
  --theme-font-family: 'Roboto', sans-serif;

  --color-primary-1: #f9ce03;
  --color-primary-2: #fbe167;
  --color-primary-3: #594f1f;
  --color-secondary-1: #8b52af;
  --color-secondary-2: #b892ce;
  --color-secondary-3: #f2ebf7;
  --color-warning-1: #e52011;
  --color-warning-2: #ef7970;
  --color-warning-3: #fad2cf;
  --color-success-1: #8bc34a;
  --color-success-2: #b9db92;
  --color-success-3: #e8f3db;
  --color-background-1: #ffffff;
  --color-background-2: #ffffff;
  --color-background-3: #f5f5f5;
  --color-background-4: #ffffff;
  --color-foreground-1: #333333;
  --color-foreground-2: #7a7a7a;
  --color-foreground-3: #989898;
  --color-grey-1: #f5f5f5;
  --color-grey-2: #eaeaea;
  --color-grey-3: #d6d6d6;
  --color-button-text-1: #ffffff;
  --color-button-text-2: #333333;
  --color-disabled-1: #b8b8b8;
  --color-disabled-2: #e8e8e8;
  --color-shadow: #00000026;
} */
/** LIGHT THEME END **/
