#routify-app {
  height: 100vh;
}

:root {
  --ion-color-primary: #f9ce03;
  --ion-color-primary-tint: #fbe167;
  --theme-font-family: 'Roboto', sans-serif;
  --color-primary-1: #f8c706;
  --color-primary-2: #fbdc5c;
  --color-primary-3: #4f451d;
  --color-secondary-1: #8b52af;
  --color-secondary-2: #b892ce;
  --color-secondary-3: #3b3340;
  --color-warning-1: #e11c13;
  --color-warning-2: #ed6d65;
  --color-warning-3: #4d2320;
  --color-success-1: #80bb41;
  --color-success-2: #b0d687;
  --color-success-3: #3a452c;
  --color-background-1: #1f1f1f;
  --color-background-2: #333333;
  --color-background-3: #1f1f1f;
  --color-background-4: #111111;
  --color-foreground-1: #dcdbdc;
  --color-foreground-2: #a0a0a0;
  --color-foreground-3: #7f7f7f;
  --color-grey-1: #2d2d2d;
  --color-grey-2: #323232;
  --color-grey-3: #4e4e4e;
  --color-button-text-1: #333333;
  --color-button-text-2: #ffffff;
  --color-disabled-1: #252525;
  --color-disabled-2: #424242;
  --color-shadow: #00000026;
}

.wrap {
  overflow: hidden;
}

.app-logo {
  height: 36px;
  pointer-events: none;
  margin-right: 20px;
}

.app-header {
  text-align: left;
  margin: 5px;
  display: flex;
}

.UserChipSetHolder {
  flex-grow: 1;
}
